// colors
$primary-black: #2B2B2B;
$primary-white: #FFFFFF;
$primary-grey: #ECECEC;
$secondary-grey: #979797;
$primary-yellow: #FFD500;
$secondary-yellow: #FFFAE3;
$primary-red: #f41f1f;

$arrow-up: '\25B4';
$arrow-down: '\25BE';
